<div>
	<a href="#/overview/purpose-and-functioning-of-the-global-financial-markets">Purpose and functioning of the global financial markets</a>
</div>

<div>
	<a href="#/overview/primary-vs-secondary-markets">Primary vs. secondary markets</a>
</div>

<div>
	<a href="#/overview/review-of-the-different-financial-markets">Review of the different financial markets</a>
</div>

<div>
	<a href="#/overview/major-participants-in-the-market">Major participants in the markets</a>
</div>

<div>
	<a href="#/overview/role-of-regulatory-authorities">The role of the regulatory authorities</a>
</div>

<div>
	<a href="#/overview/post-2008-developments">Post-2008 developments</a>
</div>
