Recent Trends
	Increased volatility of market prices
	Growth of international funds
	Securitization of financial products into tradable instruments
		e.g. mortgages, credit card receivables...
		... but one of the causes of the recent financial crisis
	Growth in use of sophisticated derivative products
	More information and analytics available
	Since the financial crisis of 2007-2009
		Increased supervision and regulation on a global scale
		A wave of new legislation, especially the Dodd-Frank Act
		Pressure to move OTC derivatives markets to centralized clearing houses or execution facilities

Brief Summary of Dodd-Frank
The Dodd-Frank Act
	The first paragraph of the act states its purpose as follows:
	“To promote the financial stability of the United States by improving accountability and transparency in the financial
	system, to end ‘‘too big to fail’’, to protect the American taxpayer by ending bailouts, to protect consumers from abusive
	financial services practices, and for other purposes.”
	The major provisions of the act provide for:
		An overhaul of U.S. financial regulatory agencies
		Changes in the way in which derivatives are traded
		Increases in capital requirements for banks and nonbank holding companies
		Increases in control over and reporting requirements for hedge funds
		Bans on proprietary trading by banking companies
		Increases in disclosure and risk retention by issuers of securitized mortgage securities
		Increases in disclosure, governance and liability for credit rating agencies
		Increases in protections for consumers and investors

Who Does Dodd-Frank Affect?
	The act will affect many types of financial institutions including banks and investment companies, as well as users of these financial services such as corporations and retail consumers.
	(** Table here**)

Basel III
	Analysis of causes of 2007-2008 credit crisis:
		Excessive leverage
		Erosion of banks’ capital bases
		Insufficient liquidity buffers
		Interconnectedness of systemic institutions through complex transactions
	Goals of Basel III:
		To strengthen global capital and liquidity rules
		To promote a more resilient banking sector
	Implementation:
		Builds on Basel II framework
		Strengthens quality and quantity of regulatory capital base
		Enhances risk coverage of capital framework
		Introduces leverage ratio to supplement risk-based capital measures
		Introduces minimum liquidity requirements
