Primary and Secondary Markets
	Primary Market
		The market upon which a new instrument is floated
		The activity is episodic and involves:
			pricing
			marketing
			selling
			distributing
			administration
			underwriting
	Secondary Market
		The market upon which existing instruments are traded
		Examples:
			the stock exchange
			the futures markets
		Activity is continuous during trading hours
		Despite its name, the secondary market is actually the main arena
	for trading and price discovery

Primary Markets
	Types of New Issuances:
		IPOs (Initial Public Offerings)
		Private Placements
			Sale to a limited number of sophisticated investors not requiring the protection of registration
			 Dominated by institutions
			Very active market for debt securities
			 Not active for stock offerings
		Structured Notes
			 Used to deliver derivatives and other complex exposures to some clients
	Underwritten vs. “Best Efforts”
		Underwritten: firm commitment on proceeds to the issuing firm
		Best Efforts: no firm commitment
	Negotiated vs. Competitive Bid
		Negotiated: issuing firm negotiates terms with investment banker
		Competitive bid: issuer structures the offering and secures bids
			Popular with governments e.g. T-note auctions

Secondary Markets
	Organised Exchanges
		Auction markets with centralized order flow
		Dealership function: can be competitive or assigned by the exchange
		Instruments: stocks, futures contracts, options, and to a lesser extent, bonds
		Examples: NYSE, NASDAQ, LSE, Euronext.liffe, Eurex
	OTC Markets
		Dealer market without centralized order flow
		Securities: stocks, bonds, and some derivatives