<div>What are Capital Markets?</div>
<div>	Markets are places where buyers and sellers of goods or services interact</div>
	<div>Capital Markets are markets in which buyers and sellers interact with respect to capital (i.e. funds, money)</div>
<div>	Specifically, Capital Markets are where:</div>
<div>		Individuals, governments, and businesses with funds transfer those funds ...</div>
<div>		... to other individuals, governments and businesses</div>
<div>		... in exchange for an economic interest or a promised set of future payments</div>
<div>	Stock and bond markets are two major capital markets</div>
<p><p>
<div>Purpose and Functioning of the Global Markets</div>
<div>	Helping businesses raise money to facilitate commercial trade through borrowing or raising capital</div>
<div>	Generating income and long-term value creation for individual and institutional investors</div>
<div>	Speculation</div>
<div>	Hedging financial risk</div>
<div>	Managing the economy</div>
<p><p>
<div>Financial Market Activities / Uses</div>
<div>	Real money activity</div>
<div>		Borrowing</div>
<div>			Capital financing requirements for firms</div>
<div>			Facilitating commercial trade</div>
<div>			Cashflow management in corporate treasury operations</div>
<div>			Speculative borrowing</div>
<div>		Lending and investing</div>
<div>			Institutional portfolio investment</div>
<div>			Cashflow management in corporate treasury operations</div>
<div>			Speculative lending</div>
<div>		Equity investments</div>
<div>			Institutional portfolio investment</div>
<div>			Speculative trading</div>
<div>		Foreign exchange</div>
<div>			Carry trading</div>
<div>			Other speculative trading</div>
<div>		Hedging financial risk</div>
<div>	Derivative and leveraged activity</div>
<div>		Speculation</div>
<div>		Hedging financial risk</div>
<div>		Arbitrage</div>
<div>	Transaction flow based activity</div>
<div>		Banks</div>
<div>		Brokers</div>
<div>		Scalpers</div>
<div>	Management of the economy</div>
<div>		Central bank policy rates</div>
<p><p>
<div>“The Market” Defined</div>
	<div>The meeting place where willing buyers and sellers negotiate on prices for executing financial transactions.</div>
<div>	Can be:</div>
<div>		a physical central marketplace, e.g. New York Stock Exchange floor</div>
<div>		an electronic central marketplace e.g. London Stock Exchange, Eurex</div>
<div>		a telephone or computer-based direct dealing marketplace e.g. OTC derivatives</div>
<div>		a brokered marketplace e.g. inter-dealer brokers, institutional brokers, electronic brokers etc</div>
<div>	The collective noun for participants (e.g. the market was surprised by)</div>
<div>	The generality of prices (e.g. the market was stronger today)</div>
<div>	The abbreviation for the market price (e.g. the market is trading 120.15)</div>
<div>		Where there is no single venue for trading often there is no single market price</div>
<div>		Often only indicative prices are visible on information systems such as Bloomberg or Reuters</div>
<p><p>
<div>Major Financial Markets	</div>
<div>	Money markets</div>
<div>		the markets for short-term (<=1yr) debt finance</div>
<div>		E.g. commercial paper, short-term US Treasuries, certificates of deposit</div>
<div>	Fixed-income (bond) markets</div>
<div>		the market for long-term (>1yr) debt finance</div>
<div>		principal markets in: US, Japan, Germany, Italy, UK</div>
<div>	Equities (stock) market</div>
<div>		the markets for shares in companies 		equity finance</div>
<div>		principal markets in: US, Japan, UK, France, Germany, Canada, Switzerland</div>
<div>	Foreign-exchange and commodities markets</div>
<div>		the market for currency exchange (e.g. Euro-Dollar)</div>
<div>		The market for raw or primary commodity products (e.g. oil, gold, coffee, soybeans)</div>
<div>	Derivatives markets</div>
		<div>the market for instruments whose price derives from something else (e.g. cash market instruments, indexes)</div>
<div>		trading in derivatives exceeds cash market volume</div>
<div>	in many markets</div>
<div>	Capital Markets</div>
<div>		can be taken to mean all of the above</div>
<div>		sometimes restricted to money, bond, and equities markets</div>
<div>		sometimes restricted just to long-term finance markets, i.e. bond and equities markets</div>
<p><p>
<div>Major Financial Centers - </div>
<div>	Primary: LONDON, NEW YORK, TOKYO</div>
<div>	Secondary: Frankfurt, Hong Kong, Singapore, Sydney</div>
<div>	Favorable geographical locations</div>
<div>	Big deep-water ports</div>
<div>	Finance of overseas trade - both imports and exports</div>
<div>	Huge interiors producing goods</div>
<div>	Political stability</div>
<p><p>
<div>Negotiable Securities Markets	</div>
<div>	Negotiable securities derive their value from</div>
<div>		The performance of the issuer</div>
<div>		The terms of the instrument</div>
<div>	Negotiable securities are designed to be easily sold and resold</div>
<div>		Also known as “financial paper” as were originally documents (or receipts)</div>
<div>			In the case of debt securities holding title indicates creditor-ship to the issuer</div>
<div>			In the case of equities holding title indicates ownership of the issuer</div>
<div>		Modern paperless market simplifies trading</div>
<div>			Electronic registration and custody</div>
<div>			Payment versus deliver systems reduce settlement risk</div>
<div>	Trades in these markets are sometimes referred to as “bargains”</div>
<div>		Seller delivers the securities in exchange for a financial consideration (i.e. the payment)</div>
<div>		Buyer makes payment in exchange for the securities</div>
<div>		Counterparties agree on consideration (i.e. price) but disagree on valuation (i.e. cheapness) </div>
<p><p>
<div>Traded Contract Markets</div>
<div>	Traded contracts derive their value from</div>
<div>		The performance of the trade counterparties</div>
<div>		The negotiated terms of the contracts themselves</div>
<div>	The negotiated terms are usually governed by market conventions or standards</div>
<div>		This simplifies dealing by reducing errors</div>
<div>		Some typical negotiable terms within a traded contract are:</div>
<div>			Trade price: The number which forms the basis of payments made under the contract</div>
<div>			Effective date: The date on which a contractual obligation to perform becomes effective</div>
<div>			Settlement dates: The dates on which payments are to be made</div>
<div>			Maturity date: The date on which a contractual obligation has been fully met</div>
<div>	So called “derivatives” can involve contingent delivery of an underlying instrument (or asset) or</div>
<div>	involve payments based on its value</div>
<div>		The price of derivatives therefore derives from the value of the underlying</div>
<div>		Derivatives can also be packaged as securities</div>
<div>		Derivatives markets can be contrasted with so called “cash” markets</div>
<div>	Deals in traded contracts are sometimes referred to in terms of buying or selling even though no</div>
<div>	immediate transfer of a security or other asset is involved</div>
<div>	Bespoke markets for contracts (e.g. exotic options)</div>
<div>		Trading activity is episodic and driven by requests to deal</div>
<div>		Even so market standards and conventions exist</div>
<div>		Resemble primary markets in securities</div>
<div>	Marketplaces for contracts (e.g. the inter-dealer deposit market)</div>
<div>		Trading activity is continuous during trading hours and driven by price competition</div>
<div>		Limited choice of effective and maturity dates quoted</div>
<div>			E.g. O/N, 1W, 2W, 1M, 2M, 3M, 6M, 12M</div>
<div>			Other dates available on demand</div>
<div>		Negotiation only occurs on price and quantity</div>
<div>		Resembles secondary markets in securities but are in fact primary markets (in most cases)</div>
<div>	Price driven inter-dealer markets can evolve from deal driven markets over time</div>
<div>	Derivatives exchanges</div>
<div>		Auction markets with centralized order flow</div>
<div>		Can only list futures and simple options due to constraints in margining system</div>
<div>		Very efficient and deeply liquid markets act as benchmarks for inter-dealer market</div>
<div>		Examples: CME, Eurex, Euronext.liffe</div>
<p><p>
<div>Products and Players</div>
<div>	(** Diagram here**)</div>

