<div>What are Capital Markets?</div>
<div>	Markets are places where buyers and sellers of goods or services interact</div>
	<div>Capital Markets are markets in which buyers and sellers interact with respect to capital (i.e. funds, money)</div>
<div>	Specifically, Capital Markets are where:</div>
<div>		Individuals, governments, and businesses with funds transfer those funds ...</div>
<div>		... to other individuals, governments and businesses</div>
<div>		... in exchange for an economic interest or a promised set of future payments</div>
<div>	Stock and bond markets are two major capital markets</div>
