What are Capital Markets?
	Markets are places where buyers and sellers of goods or services interact
	Capital Markets are markets in which buyers and sellers interact with respect to capital (i.e. funds, money)
	Specifically, Capital Markets are where:
		Individuals, governments, and businesses with funds transfer those funds ...
		... to other individuals, governments and businesses
		... in exchange for an economic interest or a promised set of future payments
	Stock and bond markets are two major capital markets

Purpose and Functioning of the Global Markets
	Helping businesses raise money to facilitate commercial trade through borrowing or raising capital
	Generating income and long-term value creation for individual and institutional investors
	Speculation
	Hedging financial risk
	Managing the economy

Financial Market Activities / Uses
	Real money activity
		Borrowing
			Capital financing requirements for firms
			Facilitating commercial trade
			Cashflow management in corporate treasuryoperations
			Speculative borrowing
		Lending and investing
			Institutional portfolio investment
			Cashflow management in corporate treasury operations
			Speculative lending
		Equity investments
			Institutional portfolio investment
			Speculative trading
		Foreign exchange
			Carry trading
			Other speculative trading
		Hedging financial risk
	Derivative and leveraged activity
		Speculation
		Hedging financial risk
		Arbitrage
	Transaction flow based activity
		Banks
		Brokers
		Scalpers
	Management of the economy
		Central bank policy rates

“The Market” Defined
	The meeting place where willing buyers and sellers negotiate on prices for executing financial transactions.
	Can be:
		a physical central marketplace, e.g. New York Stock Exchange floor
		an electronic central marketplace e.g. London Stock Exchange, Eurex
		a telephone or computer-based direct dealing marketplace e.g. OTC derivatives
		a brokered marketplace e.g. inter-dealer brokers, institutional brokers, electronic brokers etc
	The collective noun for participants (e.g. the market was surprised by)
	The generality of prices (e.g. the market was stronger today)
	The abbreviation for the market price (e.g. the market is trading 120.15)
		Where there is no single venue for trading often there is no single market price
		Often only indicative prices are visible on information systems such as Bloomberg or Reuters

Major Financial Markets	
	Money markets
		the markets for short-term (<=1yr) debt finance
		E.g. commercial paper, short-term US Treasuries, certificates of deposit
	Fixed-income (bond) markets
		the market for long-term (>1yr) debt finance
		principal markets in: US, Japan, Germany, Italy, UK
	Equities (stock) market
		the markets for shares in companies 		equity finance
		principal markets in: US, Japan, UK, France, Germany, Canada, Switzerland
	Foreign-exchange and commodities markets
		the market for currency exchange (e.g. Euro-Dollar)
		The market for raw or primary commodity products (e.g. oil, gold, coffee, soybeans)
	Derivatives markets
		the market for instruments whose price derives from something else (e.g. cash market instruments, indexes)
		trading in derivatives exceeds cash market volume
	in many markets
	Capital Markets
		can be taken to mean all of the above
		sometimes restricted to money, bond, and equities markets
		sometimes restricted just to long-term finance markets, i.e. bond and equities markets

Major Financial Centers - 
	Primary: LONDON, NEW YORK, TOKYO
	Secondary: Frankfurt, Hong Kong, Singapore, Sydney
	Favorable geographical locations
	Big deep-water ports
	Finance of overseas trade - both imports and exports
	Huge interiors producing goods
	Political stability

Negotiable Securities Markets	
	Negotiable securities derive their value from
		The performance of the issuer
		The terms of the instrument
	Negotiable securities are designed to be easily sold and resold
		Also known as “financial paper” as were originally documents (or receipts)
			In the case of debt securities holding title indicates creditor-ship to the issuer
			In the case of equities holding title indicates ownership of the issuer
		Modern paperless market simplifies trading
			Electronic registration and custody
			Payment versus deliver systems reduce settlement risk
	Trades in these markets are sometimes referred to as “bargains”
		Seller delivers the securities in exchange for a financial consideration (i.e. the payment)
		Buyer makes payment in exchange for the securities
		Counterparties agree on consideration (i.e. price) but disagree on valuation (i.e. cheapness) 

Traded Contract Markets
	Traded contracts derive their value from
		The performance of the trade counterparties
		The negotiated terms of the contracts themselves
	The negotiated terms are usually governed by market conventions or standards
		This simplifies dealing by reducing errors
		Some typical negotiable terms within a traded contract are:
			Trade price: The number which forms the basis of payments made under the contract
			Effective date: The date on which a contractual obligation to perform becomes effective
			Settlement dates: The dates on which payments are to be made
			Maturity date: The date on which a contractual obligation has been fully met
	So called “derivatives” can involve contingent delivery of an underlying instrument (or asset) or
	involve payments based on its value
		The price of derivatives therefore derives from the value of the underlying
		Derivatives can also be packaged as securities
		Derivatives markets can be contrasted with so called “cash” markets
	Deals in traded contracts are sometimes referred to in terms of buying or selling even though no
	immediate transfer of a security or other asset is involved
	Bespoke markets for contracts (e.g. exotic options)
		Trading activity is episodic and driven by requests to deal
		Even so market standards and conventions exist
		Resemble primary markets in securities
	Marketplaces for contracts (e.g. the inter-dealer deposit market)
		Trading activity is continuous during trading hours and driven by price competition
		Limited choice of effective and maturity dates quoted
			E.g. O/N, 1W, 2W, 1M, 2M, 3M, 6M, 12M
			Other dates available on demand
		Negotiation only occurs on price and quantity
		Resembles secondary markets in securities but are in fact primary markets (in most cases)
	Price driven inter-dealer markets can evolve from deal driven markets over time
	Derivatives exchanges
		Auction markets with centralized order flow
		Can only list futures and simple options due to constraints in margining system
		Very efficient and deeply liquid markets act as benchmarks for inter-dealer market
		Examples: CME, Eurex, Euronext.liffe

Products and Players
	(** Diagram here**)