Major Cash Markets
	Commodities
		the market for softs, grains, energy and metals
	Foreign-exchange market
		the market for currency exchange
		trades in excess of $4,000 bn per day
	Money markets
		the markets for short-term (<=1yr) debt finance
		involves both negotiable and non-negotiable instruments
	Fixed-income (bond) markets
		the market for long-term (>1yr) debt finance
		principal markets in: US, Japan, Germany, Italy, UK
	Equities (stock) market
		the markets for shares in companies - equity finance
		principal markets in: US, Japan, UK, France, Germany, Canada, Switzerland
	N.B. Derivatives markets exist based on all the above
	N.B. Each of these is an example of a financial market
	N.B. The last two are examples of capital markets

Cash Markets: Commodities
	(** Diagram here**)
	Commodity prices have surged in the past few years
	Commodities have therefore become increasingly attractive as an asset class for investors
	(** Diagram here**)

Cash Markets: Foreign Exchange
	The market for exchanging one currency for another
	Main types of deals:
		Spot – Two working days after trade
		Forwards and Swaps – Currencies are exchanged (and sometimes re-exchanged) on a future date
	Over $4 trillion dollars changes hands each day!
		FX is probably the world’s most liquid market
	Major FX centres are:
		London
		New York
		Tokyo

Cash Markets: Money-Market
	Money-market securities
		Discount instruments like T-Bills, commercial paper,
	banker’s acceptances
		Certificates of deposit
		Intended to be short-term, high quality, and “cash-like”
	Money-market traded contracts
		Local deposit markets
		Eurocurrency deposits
			a currency held by a depositor in a bank outside the
	country of origin of
	that currency
			outside effective control of national monetary authorities
		Repos (sale and repurchase agreement)
			sale of instrument today
			agreement to repurchase on a future date (maybe
	tomorrow) at a set price
			effectively a collateralized loan

Cash Markets: Bonds
	Debt security, similar to an IOU
		"I promise to give your money back (‘principal’) with interest"
		When you purchase a bond, you are lending money to a government, municipality, corporation or other entity
	referred to as the issuer or borrower
		In return for the loan, the issuer promises:
			to pay you a specified rate of interest during the life of the bond, and
			to repay the face of the bond (principal) when it matures
		Unlike an equity security, bonds do not give you an ownership interest in the issuer
		Bond market is a channel through which governments and corporations that need to borrow money are matched
	with investors who have funds to lend

Cash Markets: Equities
	Equities
		Certificates of part-ownership of a corporation
		Investors part with capital in return for expectation of dividends and price appreciation
		No contractual obligation by the company to pay a dividend or to repay any set amount
		No maturity date
		Shareholders do have right to elect directors and to pass resolutions at company general meetings
	Why buy equities?
		In the long term, equities have historically outperformed bonds in almost every country
		Investors can therefore participate in long-run growth
		Investors gain voting rights and control over company issuing shares
		The recent poor performance of equity markets has, however, raised questions over the long-term profitability of equities
	Equity markets compared*
		NYSE Euronext (US) is the world's largest in market capitalization of domestic listed companies
		NASDAQ and TSE are joint second in size
		LSE Group is fourth
		NYSE Euronext (Europe) is fifth
		Shanghai and Hong Kong are joint sixth

Derivatives Markets: Futures, Swaps, and Options
	Futures
		Fix the price today for a transaction that will take place in the future
		Interest rate futures – fixes the interest rate for a single three-month period in the future
		Bond futures – fixes the price for the purchase or sale of a bond on a specific future date or dates
		Stock-index futures – allows the investor to participate in the rise or fall of a stock market index over a set period
	Swaps
		Allows borrowers or investors to fix the interest rate on a long-term floating-rate loan or investment
		Allows borrows to obtain finance in one currency and swap it into another
		Allows management of credit risk
	Options
		Give the right, but not the obligation, to execute a financial transaction in the future
		Examples:
			Stock option giving the right to buy MSFT shares at $25
			 Currency option giving the right to sell €1m against US dollars at a minimum price of $1.40
			An interest-rate cap limiting borrowing rates to maximum of 5%

Proliferation of Financial Instruments and Markets to Meet Investor Needs
	1972: Currency futures
	1973: Stock options
	1975: Bond futures
	1981: Currency swaps
	1982: Early IRS; Eurodollar futures; Stock-index futures; futures options
	1983: FRAs; Stock-index options; Interest rate caps and floors
	1985: Eurodollar options; ISDA IRS; Swaptions
	1987: Compound options; Average-rate options
	1989: Quanto options
	1990: Equity-index swaps
	1991: Differential swaps
	1993: Captions; Exchange-traded FLEX options
	1994: Early credit derivatives
	1995: More widespread use of exotic options (barriers, digitals, etc.)
	1996: Electricity futures
	1997: Weather derivatives
	1999: ISDA Credit Derivatives

Growth of OTC Derivatives
	Factors influencing growth in OTC derivatives
	Availability of liquid exchange traded derivatives for hedging
	Technology and pricing theory advances
	Increased sophistication among market users
	Tax-driven structures
	Active promotion by ISDA since 1985:
	(** Table here**)