Regulation and Control
	Central Banks, special agencies, and self-regulatory organizations oversee markets
		e.g. in the US:
			Federal Reserve
			Securities and Exchange Commission (SEC)
			Financial Industry Regulatory Authority (FINRA)
		e.g. in the UK:
			Bank of England
			Financial Conduct Authority (FCA)
	Self-regulation often successful...
	... But recent financial crisis has led to greater imposition of statutory controls
	Essential to get level of regulation right
	The Securities and Exchange Commission (SEC) is the principal regulatory authority for the US
	securities markets
	Established in 1934 by the Securities Act of 1933
	The SEC’s mission is to:
		protect investors
		maintain fair, orderly, and efficient markets
		facilitate capital formation
	The SEC’s primary responsibilities are to ensure that:
		interpret federal securities laws
		issue new rules and amend existing rules
		oversee the inspection of securities firms, brokers, investment advisers, and ratings agencies
		oversee private regulatory organizations in the securities, accounting, and auditing fields
		coordinate U.S. securities regulation with federal, state, and foreign authorities