Definition of a Bond
	A bond is...
	a debt security
	issued by a borrower to obtain funds
	purchased and held by investors to earn a return
	Most bonds pay:
	regular “coupon” payments
	the “face value” on maturity
	(**Diagram here**)

Bond Market Variations
	Geographic
		US vs. Europe vs. Asia
		International (“Euro”) vs. Domestic vs. Global
	Sectoral
		Government
		Agency/Supranational
		Private sector (Corporates, Banks, etc.)
		Emerging Markets
	Credit Quality
		Unsecured
		Asset backed
		High Yield
	Bond Types
		Callable/Puttable
		Zero coupon
		Fixed/Floating
		...and many, many, more! 