Government Bond Markets
	Represent interest-rate benchmarks for most major markets
	Generally liquid, transparent
	Significant regulation from Central Bank and/or Treasury
	Key markets are internationally traded with prices available in multiple time zones
	Major differences between markets
		Bond coupon accruals and frequencies
		Issuing procedures
		Pricing conventions
		Settlement procedures

Relative Size of Government Debt Markets
	(**Diagram here**)

US Treasury Market
	Debt securities issued by US Federal Government
		largest and most liquid government bond market world-wide
		features tight spreads, high volume, and large-size individual trades
		benchmark rate for pricing all dollar-denominated fixed-income securities and derivatives
	T-Bills
		issued with maturities of 4, 13, 26, and 52 weeks
		52-week bill auctioned monthly; the rest every week
	T-Notes
		issued with maturities of 2, 3, 5, 7, and 10 years
		coupon paid Act/Act semi-annually
	T-Bonds
		issued with 30 year maturity
		issues halted as of 31 October 2001
		... but re-instated Q1 2006
		coupon paid Act/Act semi-annually
		issues prior to November ‘84 had a 5-year call
	Inflation Indexed Treasury Bonds (TIPS)
		issued with maturities of 5, 10, and 30 years
		principal (and therefore coupons) linked to inflation index every 6 months
	STRIPs
		Separate Trading of Registered Interest and Principal
		provides ready market in zero-coupon securities
		avoids re-investment risk
		provides tax advantages to some investors
		useful for matching cashflows
		but price is more volatile than for regular coupon bonds

US Treasury Market – Securities Outstanding
	(**Diagram here**)

US Treasury Market – Daily Trading Volume
	(**Diagram here**)

US Debt Market
	(**Diagram here**)

US Treasury Market – Primary Market
	Primary market issuance
		now offered via a single price auction – entire issue sold at the market-clearing price
		size of auction announced in advance
		minimum bids of $1,000 in increments of $1,000
	US Treasury securities issued on regular cycle
		Monthly (settled last day of month): 2-, 5-, and 7-year notes
		Monthly (settled 15th of month): 3-year notes
		Quarterly (settled 15th of month): 10- and 30-year bonds
		TIPS are also offered once or twice a year
	Primary dealers required to bid at auction
		auctions are underwritten by primary dealers who
	have direct access to the trading desk at the NY Fed
	Trading can start when auction announced
		usually one week prior to auction date
		“WI” trading (when-issued)
	Settlement
		all securities registered with “book-entry” clearing
		T + 1 book entry at the Fed

US Treasury Market – Auction Method
	Yield auction method used since 1974
	Prospective buyers can bid competitively or non-competitively
	Competitive bidders bid on yield basis to three decimal places for specific quantities
		Treasury allocates bonds to bidders starting with those who bid the lowest yield (highest price)
		Treasury determines “stop-out” bid to sell required amount of bonds
			Applicants bidding below this stop-out rate receive 100% allocation
			Applicants bidding at the stop-out yield will be pro-rated
			Applicants bidding above the stop-out yield receive nothing
		All bidders receive stock at the stop-out yield, even if they bid lower (single-price auction)
		Coupon set to nearest 0.125% to produce average price of 100 or less
	Non-competitive bidders receive 100% allocation at the stop-out rate
		maximum non-competitive bid size is $5m

US Treasury Market – Secondary Market
	The market:
		highly active secondary market
		dealers trade directly and via brokers
		diverse and international customer base
		average daily volume around $600bn
		electronic trading through: Tradeweb (Thomson Reuters), eSpeed (BGC), Brokertec (ICAP)
	Pricing Convention
		Bonds are priced as % of face value in 1/32nd increments (e.g. a price of 101-16 = 101.50%)
		‘+’ sign used to represent 1/64th increment (e.g. a price of 101-16+ = 101.515625%)
		A third digit indicates a 1/256th increment (e.g. a price of 101-161 = 101.50390625%)
		Prices quoted are ‘clean’ of accrued interest (invoices will include accrued)
	Dealing:
		spreads of only 1/32nd or 2/32nd
		$1m is minimum round-lot trade
		$25m and $50m dealt routinely
		many market makers trade $1bn every day

STRIPs
	(**Diagram here**)

Japanese Government Bonds (JGBs)
	One of the largest government bond markets globally
	2yr, 5yr, 10yr, 15yr, 20yr, 30yr, and 40yr bonds are all coupon-bearing
		semi-annual payments
		15yr is floating-rate – all the rest are fixed
	A 10yr inflation-indexed bond was introduced in 2004
	Auctions
		2yr, 5yr, 10yr, 20yr bonds issued monthly
		30yr and 40yr bond issued bi-monthly
	Benchmarks are generally the most recently issued 10 yr issues
		up to 90% of trading can be concentrated in a single benchmark
	Dealing:
		all securities are publicly listed and can trade on TSE, but most dealt OTC
		traded domestically on simple yield-to-maturity basis (assumes coupon payments are not compounded)
		most international investors will be given prices on compound ytm basis
		settlement: T+3 through BOJ-NET
		trading in JGBs constitutes 95% of all trading in the Japanese bond markets

Size of JGB Market
	(**Diagram here**)

Italian Government Bonds
	Five types of Italian Government securities
	are issued:
	Treasury Bonds (BTPs)
	Inflation-Linked Treasury Bonds (BTP€i)
	Treasury Certificates (CCTs)
	Zero Coupon Bonds (CTZs)
	(**Diagram here**)

German Government Debt
	Six types are in issue:
	Federal bonds
		(Bundesanleihen or "Bunds")
	Five-year Federal notes
		(Bundesobligationen or "Bobls")
	Federal Treasury notes
		(Bundesschatzanweisungen or "Schätze“)
	Federal savings notes
		(Bundesschatzbriefe)
	Federal Treasury financing paper
		(Finanzierungsschätze des Bundes)
	Treasury discount paper
		(Unverzinsliche Schatzanweisungen or "Bubills")

UK Government Bonds (Gilts)
	Fixed Income Bonds
		Maturities up to 50yrs
		Coupon paid Act/Act semi-annually
		72.6% of the outstanding (as at March 2011)
	Index Linked Bonds
		Pay a low coupon of between 2% and 4% plus
	a return linked to the RPI Retail Price Index
		Both coupons and principal are index-linked
		21.3% of the outstanding (as at March 2011)
	Undated (Perpetual) Bonds
		Carry a fixed rate of interest but there is no
	obligation to redeem the bonds at any time
		Less than 1% of outstanding
		Some date back to 1853!

Government Yield Curves
	(**Diagram here**)

Credit Ratings for Sovereign Debt
	(**Table here**)

The Corporate Bond Market
	Used by issuers to raise medium to long term finance
	Funds can be raised using a number of alternatives:
		On a fixed-rate basis
		On a floating-rate basis
		In currencies other than those which are needed by the issuer...
		... and then swapped using a currency swap
	Funds can be raised:
		Underwritten in the public markets
		Domestically or internationally (“Euro”)
		Via private placements
		Via Medium Term Note (“MTN”) Programmes

Primary Issues
	New issues underwritten by a Lead Manager plus a syndicate of underwriting comanagers
	Fixed Rate Bonds are usually launched/offered at either...
		A fixed spread over Treasuries/Government bonds
		An outright price/yield
	Floating Rate Notes are launched at a spread over LIBOR (or other short term floating rate
	index)
	Pricing of a new issue will depend on a number of factors
		Existing prices/yields of bonds issued by the same issuer
		Existing prices/yields of bonds issued by similar issuers
		Current demand for new issuance

Secondary Trading
	Corporate bonds trade OTC, with market prices usually quoted relative to a benchmark
	government yield (e.g. T+75).
	The difference between the yield on a corporate bond and the underlying government
	benchmarks or yield curve is the credit spread*
	From this yield, the price of the corporate bond can be calculated
	The credit spread is not fixed
	Credit spreads will:
		depend on perceived changes in the credit quality of the issuer
		get larger if the credit rating of the issuer deteriorates
		get smaller if the credit rating of the issuer improves
	The volatility of credit spreads therefore means that corporate bond prices can fluctuate
	independently of interest rates in general

Bond Credit Ratings
	(**Diagram here**)

The Term Structure of Credit
	Reflect probability of default Determining factors:
		Economic fundamentals
		Yield curve movements
		Any guarantees
		Supply and demand
	Credit spreads are the difference between the yield to maturity of:
		benchmark 6% US Treasury Note
		corporate bond
	Credit spread increases as credit quality decreases
	Spread normally increases with term to maturity

Credit Spreads in 2009
	The Credit Crisis generated a number of anomalies in the credit markets.
	Although the principle that a lower credit rating demands a higher credit spread held true, the term structure became distorted.
	The perception of a looming recession resulted in a significant widening of credit spreads for lower rated borrowers in the shorter maturities.
	The general perception that credit spreads would begin to fall in a few years time, pushed longer maturities lower.

US Corporate Bonds
	Long-term promissory notes issued by corporations
		Usually issued in denominations of $1000
		Maturities range from 1-50 years
		Average maturity less than ten years
		Registered, book-entry
	Coupons are paid semi-annually, on a 30/360 basis
	Credit ratings:
		drive market
		are influenced by the perceived riskiness of the bond
	Market liquidity depends upon:
		the individual corporation
		the individual issue
	Instruments include:
		Debenture and subordinated debenture bonds – unsecured by specific assets – main instrument
		Mortgage bonds – secured on the property assets of the issuer
		Collateral trust bonds – secured on financial securities owned by the issuer
		Equipment trust certificates – used to finance purchase of equipment (e.g. rolling stock, planes)
		Below investment grade (high-yield or “junk” bonds)

Municipal Bonds
	Municipal Bonds (Muni’s) are bonds issued by states, cities, counties and other government entities to finance capital expenditure.
	Funds raised are used to build schools, highways, hospitals, sewer systems and other projects for the public good.
	There are two key types of Municipal Bonds:
		General Obligation Bonds or “GO’s” where the issuer of the bonds is using its taxation power to back the interest payments and ultimate repayment of the bonds
		Revenue Bonds which are backed by the revenues expected to be generated from the project being financed.
			Hospitals, housing projects, buildings to be leased to governments, sewer systems, power generation, all generate revenue after the initial project is financed and built.
			With revenue bonds, the revenues generated from the project is the money used to pay the interest and principal on the bonds.

Municipal Investors
	Investor Motivations
		The interest earned on the majority of municipal bonds is exempt from federal income tax.
		Depending upon where an investor lives, municipal bonds may also be exempt from state income tax.
		For an investor paying high personal income tax, this tax free benefit from investing in municipal bonds can be significant when compared to taxable investments.
		For example if an individual was paying 35% income tax, a 5% yield on a municipal bond would be equivalent to earning 7.69% on a taxable bond.
		Tax regulations governing municipal bonds generally require all money raised by a bond sale to be spent on one-time capital projects within three to five years of issuance.

Municipal Issuer Motivations
	Due to their special tax-exempt status, investors usually accept lower interest rates than
	on other types of borrowing (assuming comparable risk).
	This makes the issuance of bonds an attractive source of financing to many municipal
	entities, as the borrowing rate available in the open market is frequently lower than what
	is available through other borrowing channels.
	The type of project or projects that are funded by a bond affects the taxability of income.
	Interest earnings on bonds that fund projects that are constructed for the public good are
	generally exempt from federal income tax.
	Bonds are typically certified by a law firm as either tax-exempt (federal and/or state
	income tax) or taxable before they are offered to the market.

The High-Yield Bond Market
	Technically the market for corporate bonds with a speculative grade rating (“junk” according to
	the media)
		Ratings below BBB- (S&P) or Baa3 (Moody’s)
	Emerged as a separate market from the 1980s onwards
		Recognised that although higher risk of default, investors receive a much higher return
		Initially very much a US domestic market class, European market developed from late 1990s
	Should distinguish between new issues and ‘Fallen Angels’
		Corporates which originally had an investment grade rating but which have since been downgraded: General Motors was
	AAA at one point
	In recent years, the HY market has been driven by the LBO market
		HY bonds usually subordinated to bank debt, therefore higher yield and longer -term finance
	Market has been badly hit by the financial market crisis and subsequent recession, but activity
	starting to build again from 2010

High-Yield Bond Structure
	Usually fixed rate
	Callable from half-way through life
		Expensive finance, so issuer wants flexibility to refinance
		First call has premium to par (traditionally of half the coupon), declining to par over later years
	Many covenants on the issuer to control risk
		Limits on minimum interest coverage and maximum leverage (measured to EBITDA)
		Limit on additional indebtedness
		Limits on dividend payments/cash outs to equity investors
	Will often include ‘IPO Call’ allowing issuer to call up to a proportion of the bond issue
	(35-40%) using proceeds from an IPO – encourages deleveraging

Agency Securities
	Government Sponsored Enterprises (GSEs), including:
		Government National Mortgage Association (GNMA or “Ginnie Mae”)
		Federal National Mortgage Association (FNMA or “Fannie Mae”)
		Federal Home Loan Mortgage Corporation (FHLMC or “Freddie Mac”)
		Federal Home Loan Bank (FHLB)
		Federal Housing Administration (FHA)
		Student Loan Marketing Association (SLMA)
		Federal Farm Credit Bank System (FFCB)
	Agencies were created by US Congress, with aims to:
		Reduce cost of capital for sectors deemed important enough to warrant assistance
		Facilitate secondary mortgage market and flow of low-cost mortgage finance
	Issue securities directly to market place
	Not direct obligations of the Treasury, but were considered to have an implicit government
	guarantee
	Guarantee became explicit in summer of 2008 when US Treasury bailed out FNMA and FHLMC

Agencies – Mortgages
	GNMA
		Part of Department of Housing and Urban Development (an arm of the US government)
		GNMA does not originate MBSs, but guarantees securities issued by lenders
		GNMA-backed MBS’s carry a guarantee backed by full faith and credit of the US government
		Investors in GNMA MBS’s will receive full and timely payment even if some mortgage payments are not made (fully modified)
		Most GNMA pools are single-family 30yr and 15yr mortgages
	FHLMC (“Freddie Mac”)
		Originally part of the Federal Home Loan Bank System
		Became a private corporation in 1970, originally with an AAA rating
		Investors in traditional FHLMC MBS’s receive timely payment of interest
	and eventual payment of principal (subject to possible payment delay)
	FNMA (“Fannie Mae”)
		A quasi-private corporation, with stock traded on NYSE
		Issues MBS’s similar to those of FHLMC
	US Treasury rescued both FHLMC and FNMA in Sept 2008
		Capital injected through purchase of $1bn senior preferred stock
		Treasury to purchase mortgage bonds issued by the two agencies
		Now run by Federal Housing Finance Agency (FHFA)
