
GDP Definition
	The total market value of all final goods and services produced domestically during a specific period, usually one quarter or one year.
	Includes only goods and services purchased by their final users...
		excludes intermediate goods.
	Includes only goods and services produced during the specified period...
		excludes those produced before and after that period.
	Includes only those goods and services produced in the market economy...
		excludes services for which no monetary payment is made.

Real and Nominal
	GDP can be measured in real or nominal terms:
	Real GDP excludes the effect of inflation
	Nominal or money GDP includes the effects of inflation

Real and Nominal Eurozone GDP
	(**Diagram here**)

Global GDP Measurement
	To compare GDP between countries and aggregate across countries:
	Convert different countries’ GDP to one common currency, normally the US$
	Need to use an exchange rate
	This can be either the current exchange rate (for annual GDP, normally the average for the year) or a measure of
	Purchasing Power Parity, PPP (exchange rate at which prices for similar goods are equalised)
	Actual exchange rates tend to be lower than PPP rates for developing countries, resulting in understated GDP when
	actual exchange rates are used.

GDP: How Big is it?
	(**Diagram here**)

GDP: How Big Will it Be?
	(**Diagram here**)

Niall Ferguson: 6 Reasons for the West’s Success
	1. Competition - a decentralisation of both political and economic life, which created the launchpad
	for capitalism
	2. Science - a way of studying, understanding and ultimately changing the natural world, which
	gave the West a major advantage over the Rest
	3. Rule of Law - a model for peacefully resolving disputes between individuals over property
	4. Medicine - allowed a major improvement in health and life expectancy, beginning in Western
	societies, but also in their colonies
	5. Consumer Society - a mode of material living in which the production and purchase of
	clothing plays a central economic role, without which the Industrial Revolution would have
	been unsustainable
	6. Work Ethic - a moral framework and mode of activity derived from Protestant Christianity that
	provides the glue for the dynamic and potentially unstable society created by 1 to 5. 

Economic Cycles
	GDP does not rise in a straight line but there are “cycles”
	Peak to Trough is a “recession”
	Trough to Peak is an “expansion”
	(**Diagram here**)

Recessions defined
	GDP does not rise in a straight line but there are “cycles”
	Recessions are defined as:
	Two consecutive quarters of falling GDP (definition used in most countries)
	or
	(in the US, as an alternative) by the National Bureau of Economic Research (NBER) which looks
	at a range of different economic indicators to define recession periods

US and UK: Recession and Recovery
	(**Diagram here**)

Germany and Japan: Recession and Recovery
	(**Diagram here**)

What about China?
	(**Diagram here**)

Standard post-war recessions – caused by rising inflation and the reaction to it
	Recessions following on from a banking/financial crisis – US in 1930s; developed economies
	2008/10; western economies in the nineteenth century
	Recessions caused by natural disasters/agricultural failures – Fukushima/nineteenth century
	recessions 

Experience of Banking Crises and Consequences
	Average experience of 15 major banking crises:
		Real house prices fall 35% over 6 years
		Equity prices fall 55% over 3.5 years
		Unemployment rises 7 percentage points over 4 years
		Output falls 9% over 2 years
		Government debt rises by 86% over 5 years

GDP Components
	GDP = C + I + i + G + X - M
	C = Consumption
	I = Investment
	i=inventories
	G = Government spending
	X = eXports
	M = iMports