Fiscal Policy – Key Terms
	Budget deficit
		the excess of government spending over its tax receipts
	Budget surplus
		the excess of government taxes over its spending
	National debt
		the accumulated government budget deficit, including interest payments on the debt, over time
	(in the US a limit is imposed on this by the ‘debt ceiling’)

Effectiveness of Fiscal Policy
	Fiscal policy can, in theory, be used to smooth out the economic cycle – spending more when
	the economy is weak, spending less when the economy is strong
	Problems of timing and time lags (e.g. by the time spending comes through, economy is already
	improving)
	If people ‘see through’ higher government spending to anticipate higher taxes in the future it
	may be ineffective (‘Ricardian equivalence’, named after British economist David Ricardo)

Fiscal Policy
	Some countries/regions have “rules” governing fiscal policy, setting limits on the size of the deficit and the size of debt e.g. UK and the Eurozone
	Other countries may be subject to restrictions on the budget deficit imposed by the IMF as part of a programme e.g. Ireland, Greece, Turkey
	Others countries may seek unilaterally to restrict borrowing to be more “financial market friendly” often because of a previous financial crisis e.g. Brazil
	The US has no formal limits on the deficit but is constrained by the debt ceiling