What Causes Inflation?
	4 main views:
	1. Cost-push inflation: higher costs, such as for oil, push up prices
	2. Demand-pull inflation: strong demand pulls up prices
	3. Monetary Explanations: too much money chasing too few goods
	4. New factors: changes in the world economy, the ‘China price’

Quantity Theory 
	MV=PT
	M = Money stock
	V = Velocity of money
	P = Average Price level
	T = number of Transactions

8 global Deflationary pressures
	1. Trade liberalisation
	2. Outsourcing to low labour cost countries
	3. Declining Importance of organised labour
	4. Overcapacity in many industries
	5. Greater ability to “shop around” (e.g. using the internet)
	6. Technological change and productivity
	7. The bond market “vigilantes”
	8. Free flow of global capital removes potential bottlenecks

Bond Market Vigilantes
	The term ‘bond market vigilantes’ was first coined by Edward Yardeni in 1984 to describe those participants in the bond market who sell bonds, driving down their price and pushing up their yield, when they are concerned about economic policy.
	In 1993, James Carville, President Clinton’s spokesman, paid similar tribute to the power of the bond market when he said “I used to think if there was reincarnation, I wanted to come back as the president or the pope or a .400 baseball hitter. But now I want to come back as the bond market. You can intimidate everybody”

Why Deflation is a Problem
	Redistribution from borrowers to savers
	Delayed consumption
	The 3Ds: deflation, debt and demographics
	Operation of monetary policy