Key macro-economic measures:
	GDP Gross Domestic product – the total output of an economy
	Money supply – the amount of money (cash and bank accounts) in circulation
	Employment – the number of people employed
	Unemployment rate – the proportion of the workforce unemployed
	Retail sales – sales of retail goods such as food, fuel and retail services such as restaurant meals
	Inflation – measured by the change, normally over a twelve month period, in one of the main measures of
	prices (such as the CPI, consumer price index
	Government debt – the total debt accumulated by the government over time
	Balance of payments – the difference between exports and imports