Monetary Policy Operations
	Monetary Policy is conducted by the central bank
		US - Federal Reserve
		China - People’s Bank of China
		UK - Bank of England
		Eurozone - European Central Bank
	Monetary Policy involves changing interest rates, controls over the banks (such as reserve
	requirements) and other regulations to control money and credit in the economy and hence
	inflation and economic growth
	Developed country central banks mainly use interest rate changes as the tool of monetary
	policy and interest rates are generally low
	More recently Fed, ECB and Bank of England have used Quantitative Easing (QE) as a further
	stimulus
	Emerging countries are generally tightening policy – raising rates and reserve requirements
	Expansionary or Easier Policy
		Central Bank reduces interest rates
		Central Bank leads market to expect an interest rate reduction
		Central Bank reduces reserve requirements (not used in most developed economies, is used in China)
		“QE” - Quantitative Easing – central bank buys securities from the market, adding liquidity
	Contractionary or Tighter Policy
		Central Bank raises interest rates
		Central Bank leads market to expect an interest rate rise
		Central Bank increases reserve requirements (not used in most developed economies, is used in China)
		“QE” - Quantitative Easing – is withdrawn or reversed. Central bank stops buying securities from the market or sells securities back to the market

Introduction of Inflation Targets
	New Zealand 1990
	Canada 1991
	UK 1992
	ECB 1999
	Several Emerging Economies: Brazil, Turkey

Main Reasons For Introduction
	Previous poor inflation performance (e.g. Brazil)
	Failure of exchange rate target and need for a new ‘anchor’ (UK in 1992)
	Failure of control of the money supply/unstable or weak link between money supply and inflation (US)
	To prepare for European Monetary Union and the launch of the euro (many European central banks)

What Target to Aim For?
	Steady deflation – Milton Friedman’s view (to provide a ‘return’ on the money printed by the central bank)
	Pure price stability – zero inflation
	Inflation around 2% – typical target (‘lubricates’ the economy – allows for some prices to rise and others to fall)
	Inflation around 3-4% – Krugman’s view (needed to avoid falling into deflation, falling prices if
	there is an economic shock – don’t want to ‘do a Japan’)

What Measure to Use?
	All items CPI measure
	CPI excluding interest rate effects (e.g. UK RPIX)
	Underlying CPI excluding, e.g., food and energy

What Strategy to Use?
	Over what period should inflation be assessed?
	How to respond to a forecast of above-target inflation?
	How to respond to shocks?

How Do Central Banks Control Inflation?
	Normally by changing interest rates. Higher interest rates:
	Raise financing costs and reduce spending by households and consumers, reducing demand in the economy
	Tend to raise the value of the exchange rate, reducing imported goods costs
	Reduce demand for riskier financial and real assets, such as equities and housing

How is QE Supposed to Work?
	Central bank buys assets from the banks
	The banks have more money in their reserve accounts at the central bank
	If these reserves are higher than the reserves they want to keep then they will use them to make new loans or buy assets, expanding their balance sheets
	The mechanism is the fractional reserve banking system found in most macro economic textbooks

Has QE Failed?
	This is a ‘counterfactual’ question - what would have happened if it had not been done?
	Maybe there would have been a second Great Depression?
	We do know that by buying assets from the banks, the central bank takes risky assets off banks’
	balance sheets and enables them to reduce the size of their assets. This helps maintain
	monetary growth even when loan demand is weak.
	We also know that central bank buying has pushed up the prices of bonds and other securities
	they have purchased, keeping interest rates low. This will help stimulate borrowing.
	NB both these effects were seen in Japan in 2001-2006