Macroeconomic Principles
	Main principles of macro-economics and macro policy:
		Economic growth is desirable: expansion is better than contraction
		Economies have a potential growth rate, determined by the supply of ‘factors of production’ (labour, capital, land) and technology (which determines the productivity of these resources)
		Full employment – the situation where everyone who wants to work has a job – is desirable
		Low, stable inflation is better than high inflation or deflation
		Control of inflation is best left to independent central banks
		Fiscal policy can be used to stabilise economies, but there are important limits on debt and deficits
		International free trade is desirable.