Supply and Demand
	(**Diagram here**)
	Supply curve is upward sloping – producers
	supply more at a higher price
	Demand curve is downward sloping –
	consumers buy more at a lower price
	These are the general principles but there are
	counterexamples: luxury good demand may
	rise with price, for example 

In macroeconomics, we look at Aggregate Supply and Aggregate Demand: for the whole economy
	(**Diagram here**)
	Similar in principle to supply and demand for a particular item, in previous chart
	But AS may hit limits and become vertical above a certain level – the economy cannot produce any more
	AS and AD curves will also depend on the time horizon used (short run and long run supply will be different)
	Although beloved of Economics courses, such techniques are seldom used in policy-making