What do Analysts Look For?
	Stakeholders in the company, and their advisers, seek information on which to make decisions:
	Should I invest in this company?
	Should I lend money to this company?
	Should I take over this company?
	How can I resist being taken over by this company?
	Should I work for this company?
	Should I supply credit to this company?

The Bloomberg BQ Screen
	Intended to give an overview of the company to market analysts
	It is possible to customize the screen, but the default layout shows what information a large part
	of the investment community wants
	(** Diagram here**)