Cross-Sectional and Intertemporal Analysis
	In isolation, these financial statements do not provide much insight
	We need some form of comparison to aid analysis
	The two basic standards are
		How have these figures changed over time?
		How do these figures compare with competitors?

Links Between Cash Flow, P&L, and Balance Sheet Statements
	Double entry bookkeeping
	Every transaction has both a debit and a credit entry in a T account
		Debits to the left, credits to the right
	Let us consider a $1m sale for 30 days credit
		Cost of sales $800,000
	Credit the sales account $1m
	Debit the accounts receivable account by $1m
	Credit the finished goods account by $800,000
	Debit the cost of goods sold account by $800,000
	Assume financial year ends now
		Sales credit of $1m goes to income statement
		Cost of goods sold debit of $800,000 goes to income statement
		Net profit on income statement of $200,000 goes to shareholders’ equity in balance sheet
		Accounts receivable debit of $1m goes to balance sheet as asset
		Finished goods credit of $800,000 goes to balance sheet as a reduction in assets
	Income statement
		Shows net income of $200,000
	Balance sheet
		Balance sheet footings increased by $200,000
			Assets up by $200,000
			Shareholders’ equity up by $200,000
	No change in cash balance
	Cash flow statement
		Net income of $200,000 offset by increase in working capital of $200,000
			Working capital for this purpose = stocks plus accounts receivable minus current liabilities
			No change in current liabilities, but current assets increased by $200,000

Analysis of Current Assets
	Definition:
	Cash, or expected to be realized for cash within 1 year, or one operating cycle
	Listed in order of liquidity
	Inventory valuation
		Some companies use either LIFO or average value
		Others use FIFO
		In periods of low inflation, especially with rapid inventory turnover, the difference is unlikely to be material
		However, with inflation and slower turnover:
			FIFO boosts income and balance sheet footings
			LIFO reduces these
			Average value falls between these two stools
	Receivables
		When do you give up on accounts receivable?
		Some time ago, BAe Systems “sold” aircraft to banks and other leasing companies who in turn leased the aircraft to
	airlines
		The banks and leasing companies were involved because (in some cases) the airlines were insufficiently
	creditworthy to borrow money for the purchase
		However, if they are insufficiently creditworthy to borrow money, why would a bank lease to them?
		The banks wanted more security
		BAe provided this in the form of a guarantee
		This was not obvious in the accounts at first, but when it was revealed, there was a subtle change in the wording
			“receivables” became “expected”
		Rather less definite
		Changes in the wording of accounts should always be considered carefully
			“Smart people rarely make such changes by accident” – Smith, Accounting for Growth

Depreciation
	Plant and equipment has a finite life. It is appropriate to charge the use of this equipment to the
	income statement over this lifetime
	Straight-line is the simplest method. If the equipment is expected to be productive for 10 years,
	charge 10% of its cost to the income statement each year
	There are alternatives:
		Declining balance methods
			10 year asset depreciated at 20% pa of the declining balance
			20%, 16%, 12.8%, etc
		Sum of the years’ digits methods
			Five year asset depreciated as 5/15, 4/15, 3/15, 2/15, 1/15
		Production variable methods
	Depreciation policies adopted are shown in the notes to the accounts

Amortization and Accruals
	Under FAS 142, goodwill is no longer subject to amortization
	Accrual accounting is the name given to the system under which income and expenses are
	accounted for in the period in which they are earned, regardless of whether or not the cash flows
	associated with the transactions occur
	Whilst this is generally a very satisfactory system, it is open to abuse
		Lowering credit standards can raise sales without a corresponding increase in bad debt provisions
		Changing from LIFO to FIFO on inventories can give an illusion of increased profits
		Wickes (UK building materials firm) story from the FT 27 June 2003
			Les Rosenthal, former buying manager at Wickes Building Supplies (WBS), yesterday became the last of five defendants to walk free from court following the SFO's investigation into the £20m fraud. This involved securing rebates from suppliers and booking them as profits almost immediately, contravening accounting rules that required them to be spread out over time.

Identifying Problem Areas
	There is an old saying
		“Read the report from the back working forwards”
	Analysts must consider the motivations of corporate managers
	Deferring the impact of bad news may not be in the long term interests of the company, but may
	well be in the short term interests of the company management
	Changes to accounting policies are always worth investigating
		Depreciation
		Inventory valuation
	The cash flow statement can frequently be very revealing:
	“We get suspicious when a business reports profits without generating cash” – Lord Weinstock

EBIT, EBITDA and Cash Flow
	For many years, net income was the prime focus of analysts’ attention
	However, consider the (fictitious) case opposite, again taken from Fridson & Alvarez
	We have apparently identical companies with different capital structures
	There is an important theory that capital structure is irrelevant to company valuation