Ratio Analysis
	This has long been the staple diet of analysts
	It is the classic application of spreadsheets
	It allows both cross-sectional and intertemporal analysis
	We shall first work through figures for Company A
		Raw material
		Liquidity
		Long-term debt paying ability
		Profitability
		Investor Analysis
		Summary
	Different analysts, companies and sectors call for their own specific or favoured ratios, but this
	will give you a good flavour of what is used
		This particular set is taken from “Financial reporting and analysis” by Gibson

Raw Material
	Gross receivables
		From balance sheet
	Net sales
		From income statement
	Average gross receivables
		From this year’s and last year’s balance sheet
			Beware the assumptions lying behind “average”
	Ending inventory
		From balance sheet
	Cost of goods sold
		From income statement
	Average inventory
		From this year’s and last year’s balance sheet
			Beware the assumptions lying behind “average”
	Current assets
		From balance sheet
	Current liabilities
		From balance sheet
	Cash equivalents
		The cash figure from balance sheet suffices
	Marketable securities
		As above
	Net receivables
		There is no indication of allowances in the report, so
	we use Gross receivables
	Average working capital
		Working capital is current assets minus current liabilities (note-here we include cash)
			Again we use two years’ figures to get the average
	Operating cash flow
		From cash flow statement
	Current maturity of debt
	EBIT
	Interest expense
		From income statemen
	Interest portion of rentals
	Total liabilities
		From balance sheet
	Total assets
		From balance sheet
	Shareholders’ equity
		From balance sheet
	Total debt
		From balance sheet
	Net income
		From income statement
	Average total assets
		From past two balance sheets
	Operating income
		From income statement
	Average operating assets
		Total assets minus investments
		Averaged over two balance sheets
	Net fixed assets
		Average plant and equipment figure
	Tax rate
	Average (long-term liabilities + equity)
		Average taken from balance sheets
	Average (total equity)
		Average taken from balance sheets
		Notice that the averaging process here might be misleading
	Preferred dividends
	Gross profit
		From income statement
	Earnings before tax
		From income statement
	Weighted average no of common shares
		From financial highlights
	Common shares
	Diluted earnings per share
		From income statement
	Dividends paid out
		From cash flow statement
	Dividend per share
		From financial highlights
	Stock price
		Year end price given in financial highlights
		Current price available from price vendors
	Preferred equity
		P50 states that $40m is authorized but not issued


Liquidity Ratios
	Days’ sales in receivables
		How good is the company at collecting its cash?
	Accounts receivable turnover
		Much the same thing
	Accounts receivable turnover in days
		Yet another view
	Days’ sales in inventory
		How well does the company manage its inventory?
	Inventory turnover
		Again, much the same thing
	Inventory turnover in days
		Yet another view
	Operating cycle
		How long between acquisition of raw material and
	collection of cash
	Working capital
		A measure of the short-term solvency of the business
	Current ratio
		Much the same thing
	Acid test (Quick ratio)
		A stricter test of short term liquidity, because it
	recognises that inventory may not be quickly
	realizable as cash
	Cash ratio
		Even stricter than the acid test
	Sales to working capital
		How quickly is working capital turned over
	Operating cash flow/current maturities
		How likely is the firm to be able to pay off its debt?

Long-Term Debt Paying Ability
	Times interest earned
		How secure is the cost of debt?
	Fixed charge coverage
		Much the same thing
		Note that Bloomberg offer several variations on this
	Debt ratio
		Balance sheet gearing
	Debt/equity ratio
		Much the same thing
	Operating cash flow/total debt
		Another measure of debt repayment capability

Profitability
	Net profit margin
		How much profit can be extracted from sales?
	Total asset turnover
		How hard do the assets sweat?
	Return on assets
		Much the same
	Operating income margin
		How much profit can be extracted from sales?
	Operating asset turnover
		How hard do the assets sweat?
	Return on operating assets
		Much the same
	Du Pont return on operating assets
		We shall discuss this later
		Notice it is identical to Return on operating assets
	Sales to fixed assets
		How hard do the fixed assets sweat?
	Return on investment
		How hard does the finance work?
	Return on total equity
		How hard do the shareholders’ funds work?
	Return on common equity
		With no preferred equity issued, this will be the same
	Gross profit margin
		How much profit can be extracted from sales?

Investor Analysis
	Financial Leverage
		How much of the marginal earnings will come to the
	shareholders?
	Earnings per common share
		How hard does each share work?
	Operating cash flow per common share
		How much cash comes to each share?
	Price-earnings ratio
		We shall discuss at some length in the next module
	Percentage of earnings retained
		How are the profits divided between distribution and
	retention?
		Notice that this fails to account for stock repurchases
	Dividend payout
		Much the same
	Book value per share
		Common shareholders’ claim on the shareholders’ equity
	Operating cash flow/Cash dividends
		How much of the cash flow is used to pay dividends?
		Some measure of the security of the dividend

The Du Pont Model
	A technique for analysing the sources of a company’s earnings
	The term “quality of earnings” is sometimes used here
	The Du Pont model decomposes return on equity into three components
		Operating efficiency (profit margin)
		Asset usage efficiency (total asset turnover)
		Financial leverage
	The benefit of this approach becomes clear in cross-sectional analysis
	We get the chance to see the key drivers in the different companies’ earnings

Z-Scores and Zeta Analysis
	The ability to predict financial distress is a valuable asset
	In 1968, Edward Altman developed a model for predicting bankruptcy, called the Z-score model
	The Z-score is derived from various financial ratios
	The model is (**Model Here**)
		X1 = working capital ÷ total assets
		X2 = Retained earnings ÷ total assets
		X3 = EBIT ÷ total assets
		X4 = Market value of equity ÷ book value of total liabilities
		X5 = Sales ÷ total assets
	Working capital is defined as Current Assets – Current Liabilities

Interpretation of Z-score
	The higher the score, the better
	Z > 3
		On the basis of these figures, the company is safe
	2.7 < Z < 3
		Alert signal. Caution indicated
	1.8 < Z < 2
		Significant probability of financial distress within 2 years of date of financial figures
	Z < 1.8
		High probability of financial distress in near future

Z-Scores and ZETA
	In 1977, Altman, together with ZETA Services, developed a more sophisticated model, called
	ZETA
	It is based on seven factors:
		Return on assets
		Stability of earnings
		Debt service
		Cumulative profitability
		Liquidity/current ratio
		5 year average market capitalization
		Size (total tangible assets)
	However, the secret formula is proprietary information!
	For further information, visit: http://www.defaultrisk.com/rs_altman_edward.htm