Review of the Key Financial Statements
	Income statement
		A summary of revenues and expenses during the specified period
		Net income is included in the balance sheet
	Balance sheet
		A snapshot of the financial position of the company at a specified date
		Three major sections
			Assets – the resources of the firm
			 Liabilities – the debts of the firm
			Shareholders’ equity – the owners’ interest in the firm
	Cash flow statement
		A summary of the cash flows to and from the company during the specified period
		Again, three major sections:
			 Cash flows from operating activities
			 Cash flows from investing activities
			 Cash flows from financing activities

 The Income Statement
 	A scorecard of company performance over the year showing:
		the amount of profit or loss
		how it was earned
		how much tax it attracted
	(** Diagram here**)

The Balance Sheet
	A snapshot of the values of the assets and liabilities of the companies
	Two principal flaws:
		What do we mean by value?
		What do we consider as “assets”?
	(** Diagram here**)

Cash Flow
	Excessive emphasis on EBITDA can lead to excessively ambitious capital structures
	If lenders can be directed to focus their attention on EBITDA, they may conclude that their loans
	are safe
		The implied cash flows are likely to indicate healthy cover for the interest and principal payments
	However, as we have seen in the UK in infrastructure, and in the US in a number of LBOs, the
	implied cash flows from depreciation are not a free ride
	Fixed assets need renewal and upgrading
	These are cash flow items
	Failure to implement this in a timely manner can create major problems down the line for
	companies
	(** Diagram here**)

Assumptions
	Entity
		Business separate from its owners
	Going concern
		Business is assumed to be viable for the indefinite future
			Thus assets are valued for their expected usage rather than resale value
	Historical cost
		Whatever the defects, historical cost can be determined objectively
		This assumption is dropped if the conservatism assumption requires it
	Conservatism
		When in doubt, err on the side of the unfavourable presentation
	Matching
		Costs are associated with the revenue earned
	Consistency
		The same treatment to be given to comparable transactions from period to period
	Full disclosure
		The accounting reports must disclose all facts that may influence the judgment of an informed reader
	Materiality
		“Would this item influence an informed reader of the financial statements?”
	Accrual basis
		Revenues and expenses are allocated to the period in which they are properly incurred, not when the cash
	settlement takes place

Asset Valuation Issues
	Current assets
		Conservatism requires us to value them as lower of cost or market value
		However, we have seen latitude over what is meant by “cost”
			LIFO, FIFO or average value
		Additionally, assessing “market value” is contentious
	Fixed assets
		Accrual concept means that we allocate the expensing of these assets to the periods over which they are expected
	to be productive
		Going concern means that the balance sheet values represent a notional usage of the assets over the remainder of
	their life
			They do not represent realisable value

Corporate Regulatory Filings
	United States Federal Securities law requires all publicly traded companies to disclose
	information regarding the status of their business on a regular basis.
	Companies must lodge with the Securities and Exchanges Commission (SEC):
		An annual report on From 10-K
		Quarterly reports on Form 10-Q
	These reports are designed to enable investors and other interested parties to make informed
	judgements regarding the financial position of the company.

Form 10-K 
	The annual Form 10-K provides information including:
		A comprehensive overview of the companies business
		The financial condition of the company
		The companies organisational structure
		Executive compensation arrangements
		Audited financial statements
	This filing is in addition to the annual report that a company must send to its shareholders.
	(** Diagram here**)

Form 10-Q
	The Form 10-Q filing is much briefer and less detailed than the 10-K and is required to be filed in a timely fashion (within 45 days) of each quarter end where a 10-K is not filed. (3 times per year)
	The Form 10-Q contains:
		Unaudited financial statements
		A continuing view of the companies financial position
		Comparison data last quarter to the previous quarter
		Comparison data last quarter to the same quarter the previous year
		Any relevant corporate actions such as changes to dividend policy
	(** Diagram here**)
