What is an ETF?
	Legally
		An open-ended company, or a unit investment trust, but one which operates in slightly different ways from traditional vehicles
	From investor perspective
		A facility for gaining exposure to a certain asset class through a vehicle traded on a public exchange

Types of ETF
	United States Market Index
	Foreign Market Index
		Both replicate market index returns
	Foreign Currency
		Track a currency or currencies
	Sector and Industry
		Track a sector index
	Commodity
		Access to commodities without storage complications
	Derivative
		Access to derivative strategies or derivatives replication
	Style
		Small/large cap, value/growth etc.
	Bonds
		Wide variety of types available
	Exchange-traded Notes (ETNs)
		Credit risk embedded
	Inverse
		A method of trading a short position with a long holding
	Leveraged
		Leverage added to the returns
	Actively Managed
		A further step into mutual fund territory
	Dividend
		Tracks high-yield companies
	Innovative
		Ever-increasing variety

Market Size – December 2010
	Assets under management worldwide - $1,482 bn (+28,2%)
	US ETF industry - $1,011bn (+27.4%)
	European ETF market – $315.3bn (+30%)
	31 new providers entered industry in 2010
	40 new providers expected in 2011
	North American equity ETFs – cash inflow rose from $3.5bn in 2009 to $41.8bn in 2010

Creating an ETF
	Unlike a conventional mutual fund, the retail purchaser of an ETF does not trade directly with the plan sponsor.
	In between the sponsor and the end investor are a pool of authorized participants (APs) – large financial institutions –
	who buy the ETFs in large sizes in the form of “Creation Units”, typically 50,000 shares and then trade those shares in the
	marketplace
	Typically, APs pay in kind for the Creation Units, by delivering the underlying assets to the sponsor
	The process is reversed for redemption of Creation Units
	Thus the creation and redemption of ETF shares is undertaken by an intermediary

Mutual Funds vs. ETFs
	(**Diagram here**)

Institutional Investment
	An institutional investor, wishing to trade Creation Unit sized blocks of an ETF can thus trade directly with the AP
	For purchases, the investor pays the AP a sufficient amount for the AP to acquire the relevant assets in the market
		This will generally be done using a market-on-close (MOC) order
	The AP then delivers those assets as payment-in-kind for the Creation Units (together with any necessary cash
	adjustment) and in return receives one or more Creation Units enabling them to deliver the stock to the investor
	For sales, the process is reversed
	The investor delivers Creation Unit sized block of shares to the AP, who delivers those to the issuer.
	In return, the issuer delivers assets as payment-in-kind to the AP, (together with any necessary cash adjustment) who sells
	the assets in the market to acquire the cash to settle with the investor.
	(**Diagram here**)

Advantages of ETFs for Equity Exposure
	A single transaction provides exposure to an index or sector
		Lower commissions and no ‘fill’ risk
	Liquidity - typical daily trading volume of SPDRS is 200m shares
		Tight bid-ask spreads
	Favorable tax treatment
	Passive management (in most ETFs) means low management costs
	Continuous intraday trading
	Transparency
		List of assets in fund published on a daily basis
	Access to fund manager skills (with actively managed ETFs)
	Choice of Alpha (actively managed) or Beta (passively managed)
	Ability to take short positions

Disadvantages of ETFs for Equity Exposure
	Tracking error – the ETFs replication portfolio may not be a perfect match to the underlying index
		Liquidity difficulties in some of the constituents may exacerbate this
	Fluctuations around Net Asset Value
		A persistent problem with closed-end funds, but much less prevalent with ETFs
		The ability of APs to trade Creation Units in kind provides and arbitrage mechanism which helps keep prices close to NAV
	Casualty rate
		Media attention focused on fund closures, but consolidation and rationalization inevitable
		Like futures contracts, ETFs which fail to establish critical mass will inevitably close

Advantages of ETFs for Other Asset Classes 
	Most of the benefits described for equity exposure also apply here
		Single transaction
		Favorable tax treatment
		Continuous intraday trading
		Choice of Alpha or Beta
		Transparency
		Ability to take short positions
	Further benefits accrue in non-equity classes:
		No storage of commodities
		Access to OTC markets through an exchange-traded wrapper

Disadvantages of ETFs for Other Asset Classes 
	Underlying asset liquidity issues may inhibit liquidity of ETF
	Use of derivatives as asset proxies introduces tracking error
	Ease of market access may encourage inexperienced investors into unsuitable asset classes
	Size of the ETF market may induce price disruptions in the underlying asset

Growth of ETFs
	(**Diagram here**)

ETF Providers
	(**Diagram here**)