How are Shares Traded?
	Shares are listed on one or more stock exchanges...
		Some exchanges have a physical trading floor, like the NYSE
		Other exchanges are all-electronic, like the NASDAQ and the LSE
		The trend is for electronic trading to displace open-outcry markets
			... and can be traded in a number of ways
		On a traditional stock exchange, either floor-based or electronic
		Or through an alternative trading venue like a Dark Pool
	Execution depends upon which venue is offering the best price...
			... and which provides the deepest market
	New trading venues like SharesPost and SecondMarket have recently opened up
		These provide an electronic market for trading shares in non-listed private companies
		Issuers can create liquidity (and value) in their shares
		Investors can invest in companies that would otherwise be inaccessible

World Stock Markets
	(**Diagram here**)
	(**Diagram here**)

The NYSE Group
	Now called: NYSE Euronext (since April 2007)
	The group comprises:
		Six cash equities exchanges
		Six derivatives exchanges
		In five countries: US, France, Belgium, Netherlands, and Portugal
	In the US, trading takes place on one of two exchanges:
		NYSE – the traditional trading floor
		NYSE Arca – the electronic trading platform

NASDAQ Statistics
	Currently lists around 2,878 stocks
	Daily volume (June 2011):
		2.0bn shares
		Average value: $53.7bn
	Trading Statistics for 22nd July 2011:
	Peak Volume:
		5.2bn 26 June 2009
		5.0bn 25 June 2010
		4.1bn 24 June 2011

Market Statistics
	(**Diagram here**)

Key Features
	Screen-based, computerized, automated system
		NASDAQ Global Select Market – Lists around 1,200 of the largest stocks
		NASDAQ Global Market – Lists around 1,500 stocks (formerly the NASDAQ National Market)
		NASDAQ Capital Market – Lists around 600 emerging high-growth potential stocks
	Allows for quotations from multiple sources:
		Market-Makers – Firms like Goldman Sachs & Morgan Stanley dealing actively in NASDAQ stocks
		ATSs – Trading Systems which convey additional customer orders
			... thereby enhancing market liquidity
	Around 1,000 market participants:
		Market-Makers
		Order Entry Firms
		Alternative Trading Systems (ATSs) e.g. ECNs and Unlisted Trading Privileges (UTP) exchanges

Changing Exchange Ownership
	There have been a number of major mergers between stock exchanges over recent years as the industry consolidates.
	NYSE Euronext
	2006 NYSE and Archipelago merge to form the NYSE Group
		Archipelago was created from the merger between ARCA and Pacific Stock Exchange (which was the merged LA and San Francisco Stock Exchanges)
	2007 NYSE Group and Euronext merge to form NYSE Euronext
		Euronext comprises the Paris, Brussels, Lisbon and Amsterdam exchanges, together with LIFFE, the London futures exchange.
	2008 NYSE Euronext acquires American Stock Exchange
	NASDAQ OMX
	2007 NASDAQ acquired Philadelphia Stock Exchange
	2008 NASDAQ acquires the Nordic OMX Exchange to form NASDAQ OMX
	... and more mergers / takeovers are planned:
	NYSE Euronext and Deutsche Börse
	NASDAQ/ICE and NYSE Euronext
	LSE (London) and TMX (Toronto)
	Singapore and ASX (Australia)

What is a Dark Pool and Dark Liquidity?
	A Dark Pool is:
		A private trading network that does not publicly display the orders it receives
		Designed to match orders between buyers and sellers who are both users of that network...
	Dark Pools are especially useful when executing large block orders:
		Preserves anonymity – identity of counterparty is not displayed
		Prevents adverse market moves – neither size of order nor price are displayed
		Eliminates information leakage – a fear many buy-side counterparties have
		Prices are only posted publicly after trades have been completed – sometimes after a delay
	Dark Liquidity is where a public market (e.g. NYSE or NASDAQ) displays only a fraction of the liquidity available:
		Market participants may submit a price or order that is only a small part of the trade they actually wish to execute
		This gives rise to so-called “iceberg” quotes – what you see is only a fraction of what is under the surface

Dark Pools
	Independent Dark Pools include:
		Instinet (CBX)
		ITG (POSIT)
		Liquidnet
		NYFIX (NYFIX Millennium and Euro Millennium)
		Pipeline
		Turquoise (MTF)
	Broker-dealer owned Dark Pools include those by:
		Barclays Capital (LX)
		Credit Suisse (CrossFinder)
		BNP Paribas (BIX)
		Fidelity (CrossStream)
		BNY ConvergEx (VortEX)
		Goldman Sachs (Sigma X)
		Citi (CitiMatch)
		UBS (PIN Cross)
	Exchange-owned Dark Pools
		BATS (Dark Match and Dark Scan)
		International Securities Exchange (MidPoint Match)
		LSE (Baikal)
		NASDAQ (Neuro Dark)
		NYSE Euronext (MatchPoint and Smartpool)

Program Trading
	The purchase (or sale) of 15 or more stocks comprising a portfolio
	Usually computer-driven and automatically-executed where computers:
		Constantly monitor stock, futures, and options markets
		Give buy and sell signals when opportunities for arbitrage profits occur
		Suggest strategies to signal when market conditions warrant portfolio accumulation or liquidation
	Originally used when index funds and other institutional investors tried to replicate a target stock index with actual
	purchases of stocks
	Now includes computer-aided programs to:
		Buy or sell sections of the stock market
		Portfolio insurance – dynamically changing the portfolio mix to:
			Insulate portfolio from down-moves
			Profit from up-moves
		Index arbitrage – to profit from differences between the values of:
			A stock-market index
			The component stocks
	Program trading accounted for 31.1% of NYSE daily volume 11-15 July 2011

Algorithmic Trading
	Algorithmic trading or automated trading is the use of computer programs for entering trading orders
		also known as: algo trading, black-box trading or robo trading
	The computer algorithm makes decisions on all or some aspects of the order:
		Timing
		Price
		Quantity
		... in many cases initiating the order without human intervention
	Computerised trading is not new!
		Program trading and index arbitrage date back to the 1980’s
		However, the last few years has seen a total transformation of the equity market landscape
	There are a large number of different applications and trading strategies:
		Transaction cost reduction
		Market making
		High frequency trading
		Arbitrage

High Frequency Trading
	High Frequency Trading firms represent:
		approximately only 2% of the 20,000 or so trading firms operating in the US markets today
		but account for between 60% and 75% of all US equity trading volume
	A small number of high frequency proprietary trading firms that now wield far greater influence on the markets today than
	most people recognize
	High Frequency Trading includes a number of strategies:
		Market making
		Arbitrage (ETFs, futures, options)
		Liquidity rebate trading
		Pairs trading based on the linked trading of more than one asset class, e.g., futures index and cash equities.
	TABB Group estimates that annual aggregate profits of low-latency arbitrage strategies exceed $21 billion, spread out
	among the few hundred firms that deploy them.

Latency and Co-Location
	Strategies that optimize the value of high frequency algorithmic trading are highly dependent on ultra-low latency.
		The right decisions are based on feeding information into the algorithm microseconds sooner than your competitors.
		Talk of latency is measured in milli-, micro-. and nano-seconds!
	A trading firm must have a real-time, co-located, high-frequency trading platform, one where:
		Data is collected
		Orders are created and routed to execution venues
		... in sub-millisecond times.
	Co-location is the practice of many market centres:
		Major exchanges like: NYSE Euronext, NASDAQ, and BATS
		Alternative trading systems (ATS) like: DirectEdge
	Exchanges and ATSs will rent space to HFTs to co-locate their servers next to the market centre’s servers, in order to
	further reduce latency
	Some industry officials have questioned the fairness of such an advantage

The Inside Market
	(**Diagram here**)
	NASDAQ Screen shows:
		Quotations to buy – Volume and Price
		Quotations to sell – Volume and Price
	Quotations are ranked, with best first
	Highest bid and Lowest offer comprise the
	Inside Market
	... with a typically narrow Inside Spread
	All market-makers are required to quote
	The individual Dealer Quotes will have a typically wider Dealer Spread
	Dealers must take customer limit orders into account when quoting their prices

Types and Methods of Order
	Market Order
		An order to execute at the current best price (the “inside market”)
	Limit Order
		An order to execute at or better than a given price
	Market if Touched (MIT) and Stop Orders
		Orders that become market orders if the price reaches a specific level
	Good Until Cancelled (GTC)
		Order remains on books until executed or cancelled
	Fill or Kill (FOK)
		Seeks to transact the entire quantity immediately or does not transact at all
	Immediate or Cancel (IOC)
		Market or Limit Order that trades immediately, cancelling any unfilled portion
	One Cancels the Other (OCO)
		The execution of one of a pair of orders cancels the other
	... and there are many others...

Life of an Equity Trade
	(**Diagram here**)

Trade Processing
	Order is picked up by a BlackRock equity trader who works with the portfolio manager to determine an execution strategy
	Order is placed with a broker/dealer who will execute in the market based on Blackrock instructions or may trade out of the broker/dealer's own inventory.
	Once the trade has been executed, confirmations are sent back to Blackrock either electronically or verbally.
	The confirmed trade data then moves from the Order Management System to Aladdin which interfaces with each account's custody bank to arrange payment. Data is also posted to files for the client and the accounting agent (if necessary)
	On settlement date (T+3 is typical), the custodian bank will receive/deliver shares versus a cash payment to/from the executing broker/dealer.
	Aladdin reconciles the cash and share positions of the client account at the custody bank to ensure accuracy.