Common Stock
	A security giving rights:
		Of part-ownership in a corporation
		To receive regular dividends
		To residual claims
		To vote on corporate matters
	Can be sold at future date – hopefully for a capital gain Limited liability

Preferred Shares
	A hybrid security with characteristics of both equity and debt
		Equity-like: Ranks lower than others for receipt of regular payments or redemption of investment
		Debt-like: Holders receive (usually) fixed dividend
	More limited rights than holders of common stock:
		Some have no voting rights
		Cannot petition for bankruptcy
	Ranks above common stock:
		For the payment of dividends
		In the event of liquidation
	Dividends in practice can be:
		Fixed or adjustable
		Cumulative or Non-Cumulative
	May be redeemable, callable, or convertible
	Corporation pays taxes on preferred dividends
	... unlike interest on debt, which is tax-deductible

Equities Terminology
	Authorized shares
		The maximum number of shares that the board of directors has agreed to sell
	Issued shares
		The number of shares originally sold to shareholders
	Treasury shares
		Shares which have been repurchased by the issuer
		Do not have voting rights nor earn dividends
	Outstanding shares
		The number of authorized shares currently held
		Equals Issued shares less Treasury shares
	Stock may classified into classes
		Example: Class A shares, Class B shares, etc.
		These may vary in terms of ownership rights, voting rights, and dividends

Stock Splits
	In a stock split, firm redefines shares into smaller units
		Total market value of firm is unaffected
		Can be 2-for-1, 3-for-1, 3-for-2, etc.
	Example:
		A 2-for-1 stock split
		A shareholder with 100 shares at $60 per share will now have 200 shares at $30 per share
	Justification for stock splits – firms want prices that are more accessible
	Reverse-splits consolidate shares
	Comparison of stock split with stock dividend:
	(**Table here**)

Dividends
	Payments to shareholders in cash or securities
		Typically made quarterly or semi-annually
		Dividends are not an obligation of the firm
	Dividend yield is:
	(**Formula here**)
	Several key dates...
	Declaration date
		The dividend announcement is made by board
		Commits the company to pay the dividend
	Ex-dividend date
		The date after which buyers no longer have the right to receive the declared dividend
		Share price will drop in value immediately after a share goes ex-dividend
		Usually two days before the record date...
	Record date
		Shareholders who own shares on this date are entitled to receive the dividend
	Payable date
		When firm pays dividend

Payment of Dividends
	Cash
		Company distributes dividends as a cash payment
	Stock dividend
		A distribution of dividends in the form of the corporation's own stock
		May be issued by companies with inadequate cash to pay a cash dividend
		Each shareholder receives a pro-rata distribution of the newly issued shares
		A “small stock” dividend is one that does not increase the number of shares in issue by more then 25%
		Share price therefore usually falls by the same proportion
		Has the side-benefit of increasing the marketability of the shares by lowering the price