Firm-wide focus on understanding and managing risk
	Emphasis on understanding all forms of risk, including investment, market, liquidity, counterparty and operational risks
	Our philosophy seeks to ensure risks are deliberate, diversified, and appropriately scaled
	Risk & Quantitative Analysis (RQA) partners with each portfolio team to help identify, monitor, and minimize risk throughout the investment process
	Our risk professionals are independent and asset class agnostic, focused solely on understanding and adapting to changes in risk
	Constant investment in new technology, analytics, and talent
	Proprietary risk management analytics platform
	BlackRock Solutions® provides independent risk management and enterprise investment services for $10 trillion in assets*
	Risk analytics and technology internally developed since firm’s inception
	One centralized platform facilitates real-time, highly connected and controlled practices

Risk Analysis - The Equity Daily Risk Report
	(**Diagram here**)
	(**Diagram here**)
	(**Diagram here**)
	(**Diagram here**)