Trading Strategies
	Long Only
	If an investor buys (goes long) a stock, they an absolute exposure to the market value of the purchased stock.
		The investor is exposed to every valuation variable that affects the market value of that stock.
	Long / Short
	If an investor buys a stock and simultaneously sells another stock (or index, commodity etc.), they have a relative exposure to the
	market value of the purchased stock vs. the sold hedge stock (or index, commodity etc.)
		This limits exposure to a subset of valuation variables, or at least reduces the magnitude of exposure in a set of risk variables.
	Example: Buy GOOG and sell MSFT
		Investor is speculating on the relative out-performance of Google vs. Microsoft without taking on exposure to the technology sector in general
		Such a strategy would make money even if both stocks went down – so long as GOOG declined less than MSFT
	There are a number of theoretical and practical issues to consider when constructing a long vs. short trade.

Short Selling
	Short selling is a trading technique that allows traders to take a negative view on a company and make money if the
	company's share price goes down.
	The trader agrees to sell shares he does not yet own at the current market price...
	...but hopes to buy them at a cheaper price in the market to meet his obligation.
	The trader will borrow the shares from an existing shareholder using a repurchase style agreement...
	...These shares are then delivered to the buyer.
	In order to unwind the position, the short seller buys back the shares in the market and returns them to the lender. 

Concept of Value Investing
	Concept’s roots set in Ben Graham’s book “Security Analysis”
	Seeks to buy underpriced stocks as determined by fundamental analysis of:
		Low price-to-book value ratio
		High dividend yield
		The “intrinsic value” of a stock
	‘Margin of safety’ a key concept – the size of the discount between intrinsic value and current market price.
	Value can be determined by looking at historic data, for example:
		Comparison of Return on Invested Capital (ROIC) with Weighted Average Cost of Capital (WACC)
		CAPE (Cyclically Adjusted Price Earnings) ratio
		Tobin’s Q (ratio of book to market value of a company’s assets)

Determining Value
	Value can be determined by looking at historic data
	Two measures:
	CAPE (Cyclically Adjusted Price Earnings) ratio
	Tobin’s Q (ratio of book to market value of a company’s assets)
	Key issue: are historic measures a guide to the future?

CAPE for US Equities
	(**Diagram here**)

High P/Es & Subsequent Returns
	(**Table here**)

Low P/Es & Subsequent Returns
	(**Table here**)

Top Down versus Bottom Up
	The top-down approach starts with a macro forecast and tends to focus on very specific themes or attributes.
		The analytical progression goes from country -> sector -> industry -> stock.
		In bottom-up investing, all you care about is the individual stock
		Sector/country weights are a by-product of how many attractive stocks you are finding in that area

What is Quantitative Investing?
	Numerical analysis of a wide range of factors over a wide range of assets
	Absence of emotion
	Model building
	Factor tilting
	Explainable and back tested
	Precise risk measurement

Quantitative Strategies: Pros
	Dealing with data processing
	Systematic information processing
	Overcoming behavioural biases
	Quant strategies and human judgment
	Risk control
	Low transaction costs
	Transparency

Quantitative Strategies: Cons
	History may not repeat itself
	Data quality
	Models can be copied and so may not retain a competitive advantage
	Data ‘noise’

Fundamental and Quantitative Compared
	(**Diagram here**)