Why Own Equities?
	Entitled to after-tax earnings of firm
		Earnings after everyone else is paid off
		Residual income after:
			Government (taxes)
			Employees
			Bondholders
			Creditors and other claimholders
	Receive dividends (usually)
	Gain from any expected rise in stock prices
		Future earnings prospects determine stock price
	Right to vote and participate in decisions of firm
		Each share of common stock entitles the holder to a single vote
		Voting takes place on key company decisions...
		... and on the composition of the Board
	Limited liability
		The maximum loss is limited to the amount originally invested
	Owners of more than 5% of a company’s common stock must report to the SE

Why Issue Shares?
	No contractual fixed payments
	No requirement to repay at maturity
	Improves debt ratio and interest coverage
	If prospects look bright:
		Common stock can be sold on better terms than debt
		Better to finance with common stock to maintain reserve borrowing capacity for downturns in the economic cycle

Why Not Issue (New) Shares?
	Controlling shareholders may lose some control Future earnings shared with new stockholders, hence dilution Compared with debt:
		Higher flotation costs
		Higher cost of capital
	Too little debt may encourage a takeover bid
	Dividends are taxed twice:
		Dividends paid from after-tax company earnings
		Investors are taxed on dividend income

Differences Between Debt and Equity
	Regular payments
		Debt holders receive a (usually) fixed dividend
		Shareholders receive a variable dividend – or sometimes no dividend at all
	Final redemption
		Debt holders will receive return of principal upon the maturity of the debt
		Shares confer no such rights – face value is nominal
	Debt holders rank above shareholders:
		In the payment of regular coupons and dividends
		In the event of liquidation of the company
	Decision-making rights:
		Debt holders have no such rights
		Shareholders have the right to appoint board members and approve key decisions