		we construct measures ...
	... of portfolio performance
	we wish to assess:
		did the fund we invested in ...
	... manage to “beat the market”?
		and if it did ...
	... is this due to skill or just luck?
	in other words ...
		is the fund manager worth ...
	... the fees we’re paying him/her?
	key questions:
		how can we measure ...
	... ex-post fund performance?
		does past performance ...
	... predict future performance?
		how can we adjust performance ...
	... for the risk taken by the fund?

Absolute vs. Relative Returns
	Hedge Funds usually base their performance measures on absolute returns
		Hedge fund investors want to make real money
		The better the return, the happier the investor
	Institutional Investors often base their performance measures on relative returns
		A relative return is measured against a benchmark
		A suitable benchmark is one that is relevant to the construction of the portfolio
	– e.g. Russell 2000 to benchmark a small-cap investment portfolio
		With a relative measure an investor might be happy to lose 10%!...
		... If the benchmark portfolio lost 20% during the same time-frame.