Risk vs. Return
	In this section, we study ...
		the relationship ...
	... between risk and return
	in a nutshell:
		return is “good”:
	higher return ...
	= more money
		risk is “bad”:
	higher risk ...
	= chance of loss
	but:
		no return without risk:
			the “risk-return” trade-off
	key questions:
		how can we measure ...
	... expected return and risk?
		what is the “market price” ...
	... of taking on risk?
		how do we rank investments ...
	... with different risks / returns?

Modern Portfolio Theory Concepts
	Markowitz* theory ...
	... is based on the idea:
	when investors
	... make investment decisions
	they only care about ...
		the expected return ...
		and the risk (uncertainty)
	... of the chosen portfolio
	as usual, we assume ...
		investors are “greedy”:
	at the same level of risk ...
	... they prefer investments ...
	with higher expected returns
		investors are “risk averse”:
	for given expected return ...
	... they prefer investments ...
	that achieve this with less risk
	no other factors matter!

Risk Premium
	In this framework ...
	... investors will demand ...
	... a compensation for taking risk:
		assets with higher risk ...
	... should yield higher return
	because otherwise ...
		nobody wants to invest
		price of the asset decreases
		expected return increases
	until the asset provides ...
	... an adequate return for risk!
	the risk premium ...
		how much additional return ...
	... do investors require ...
	to compensate for ...
	... an additional unit of risk?
	or, equivalently ...
		how much risk ...
	... are investors willing to take ...
	in order to earn ...
	... an additional 1% return?

Risk Premium – Empirical Evidence
	Are people risk averse?
		if the average investor ...
	... is really risk averse ...
	we should see this in ...
	... the relation between ...
		the market prices of assets ...
	... and the returns they earn
	there should be ...
	... a positive relation between
		an investment’s risk ...
		and it’s average return
	the evidence ...
		returns on small stocks ...
	... are 50% more volatile ...
	... than returns on large stocks
	but on average ...
		large stocks earn about 12%
		while small stocks earn 20%
	or ...
		bonds carry 75% less risk ...
	... compared to stocks
		but bonds also earn only ...
	... about 25% of what stocks earn

Investor Preferences
	Markowitz preferences ...
	... imply investors would like ...
	... to go north-west:
		“north” means higher return
		“west” means lower risk
	but, the risk-return trade-off ...
	... forces us north-east:
		you can only increase return
	... at the cost of higher risk
		or, you can only reduce risk
	... at the cost of lower return

What Risk can be “Diversified Away”?
	diversification ...
		can eliminate risks that ...
	... affect only individual firms ...
	... or individual sectors
	e.g. when oil prices increase ...
	... car manufacturers suffer
	... but oil firms benefit
		it cannot eliminate risks that ...
	... affect all assets ...
	... in the same way
	e.g. business cycle / crashes ...
	definition:
		idiosyncratic risk
	= risk that can be eliminated ...
	... by diversification
		systematic risk
	= risk factors that cannot ...
	... be eliminated

What is the CAPM?
	It is a way to determine what return an investment should produce given a specific level of risk.
	A formula that compresses a plethora of economic indicators into three key factors.
	The Big Three Inputs:
	The risk free rate of return.
		Use the current Treasury bill rate or the government bond yield.
		Consider maturity/duration of portfolio.
	The equity market’s rate of return.
		Normally, use your domestic equity market (e.g. S&P500) but could consider a global index (e.g. MSCI).
	The stock’s beta.

The CAPM Formula 
	RS = RF + βS (RM – RF)
	where:
	RS = Return of the Stock
	RF = Risk Free Return
	βS = The Stock’s Beta
	RM = Equity Market’s Return
	(RM – RF) = Equity Market Risk Premium

Estimating Beta
	To estimate beta we look at the statistical relationship between the stock’s return in excess of the risk
	free rate and the equity market risk premium:
	(RS – RF) = αS + βS (RM – RF)
	where:
	RS = Return of the Stock
	RF = Risk Free Return
	αS = The stock’s Alpha
	βS = The stock’s Beta
	RM = Equity Market’s Return
	(RM – RF) = Equity Market’s Risk Premium

Where Are Betas Found?
	Individual stocks have betas.
	Traditional sources of beta are:
		Bloomberg
		Thomson Financial
		Analyst reports
	Betas are normally calculated using 5 years’ of data.
	Can be estimated in Excel using the SLOPE term
	Interpreting Beta
		If a stock has beta of 1 and the market goes up 10%, expect your stock to match the performance of the market by
	rising 10%.
		If a stock has a beta of 0.5 and the market declines 10%, expect your stock to decline 5%.
		There are negative betas where a stock moves in the opposite direction from the market