Strategic Asset Allocation
	Strategic asset allocation sets an investor’s desired long-term exposures to systematic (market) risk.
	Expectations involved in strategic asset allocation are long term.
	“Long term” has different interpretations for different investors, but five years is a reasonable
	minimum reference point.

Tactical Asset Allocation
	Tactical asset allocation involves making short-term adjustments to asset-class weights based
	on short-term predictions of relative performance among asset classes.
	TAA can subsume a range of approaches, from occasional and ad hoc adjustments to frequent
	and model-based adjustments.