Types of Investment Portfolio
	An investment portfolio is a collection of investments, generally controlled by a single portfolio
	manager
	The investments can all be of a similar asset class, or could be a mixture
	Asset classes to include within a portfolio can comprise:
		Money market instruments
		Fixed-income securities (notes and bonds)
		Equities
		Alternative Assets
			Real estate
			Commodities
				Gold
	Portfolio management can be:
		Active – seeking the best choice among instruments using:
			The skills of the portfolio manager
			The tactics suggested by quantitative or fundamental analysis
		Passive – following some pre-defined benchmark

Types of Investment Portfolio
	fixed income funds:
		money market funds
		government bond funds
		corporate bond funds
	equity funds:
		small cap stock funds
		large cap stock funds
		technology stock funds
		growth stock funds
	international funds:
		country-specific (e.g. UK)
		regional (e.g. Asia-Pacific)
		global
	any combination is possible
	... for example:
		Europe without UK equity
		Asian-Pacific technology stocks
		global small cap stocks
		Europe balanced bond / equity

Motivations for Choosing a Portfolio
	Portfolios provide a number of key benefits:
	Diversification
		Returns are averaged, but
		Risks can be reduced
	Ability to generate and pool returns from a range of:
		Instruments
		Asset classes
		Geographic regions
		Industry sectors