Active vs. Passive Management
	The “Efficient Markets Hypothesis” is
	one of the cornerstones of economic
	theory. In a nutshell, it states that asset
	prices at all times reflect all available
	information that may affect the returns on
	these assets.
	If markets are efficient, you cannot
	benefit from information as prices adjust to
	reflect this information as soon as it
	becomes available.
	Passive management is therefore
	consistent with efficient markets, since no
	attempt is made to “beat the market”.
	Active management on the other hand
	seeks to exploit inefficiencies.
	passive management ...
	... seeks to replicate the return on a broad
	and well-diversified market benchmark
	“index tracking”
	active management ...
	... seeks to “beat the market” by buying
	underpriced assets or by “timing the
	market”

The Efficient Markets Hypothesis
	the value of an asset ...
	... depends on information:
	 fundamentals (micro level):
		market demand / capacity
		competition / product range
	 macro news (economy-wide):
		economic (GDP) growth
		government (e.g. tax) policy
	 financial news (the “market”):
		interest / FX rates
		other stock / index prices ...
	“prices reflect” information
	... means:
	 using information ...
	... it is impossible to generate
	... sustainable abnormal profits
	“abnormal” profits
	... means:
	 profits that are ...
	... higher than expected
	... even after adjusting for risk

The Investment Process
	asset allocation:
	 allocation of investment funds across the
	broad asset classes: cash, bonds and
	equity
	security selection:
	 choice of specific stocks, bonds or other
	securities with each of the asset classes